### AIT 614 - Big Data Essentials <br>
#### Project Title: FHWA Bridge Conditions Analysis Using Big Data Techniques
#### 5. Hadoop Spark Queries
#### TEAM 4
<hr>

Course Section #: AIT 614 - 003 <br>
#### Team Members
1. Aryan Patel Kolagani - G01517560 <br>
2. Rithvik Madhavaram - G01501806 <br>
3. Chetan Muppavarapu - G01504057 <br>
4. Srivaths Nrusimha Rao Chengal - G01512113 <br>
5. Vaibhav Hasu - G01517039 <br>

### Step 1: Loading dataset using Spark <br>

In [0]:
# Load dataset (acts like HDFS input)
df = spark.read.format("csv").option("header", "true").load("dbfs:/FileStore/shared_uploads/akolagan@gmu.edu/FHWA_Bridge_Conditions_Dataset.csv")

# Show data
df.show(5)

+---------+-----+------------------+-------------------+---------+---------+------------------+-----+--------------+------------------------+----------------------+-------------+------------------+------------------+---------------------------+--------------------+------------------+----------------+-------------------+-------------------+
|Bridge_ID|State|          Latitude|          Longitude| Material|Age_Years|     Length_Meters|Lanes|Deck_Condition|Superstructure_Condition|Substructure_Condition|Daily_Traffic|  Truck_Percentage| Avg_Annual_Temp_C|Avg_Annual_Precipitation_mm|Last_Inspection_Year|   Repair_Cost_USD|Repair_Time_Days| Deterioration_Rate|Failure_Probability|
+---------+-----+------------------+-------------------+---------+---------+------------------+-----+--------------+------------------------+----------------------+-------------+------------------+------------------+---------------------------+--------------------+------------------+----------------+-------------------+-------------------+
|   100000|   OH|29.708699688830727|-116.44435725489865|    Steel|       17|1158.2591622731354|    3|             6|                       6|                     8|        12899|21.912370925592974| 23.04361337884893|         1319.0530825749388|                2023| 4315877.039064087|             267|0.01272261289332333|0.02484780424419427|
|   100001|   TX|  41.2718839129983| -85.03656358134668|Composite|       52|1303.9903031780548|    5|             6|                       8|                     5|        47458| 7.728373306802381|0.4553517482054765|         1826.9286531354574|                2020|1881782.6492399995|               6| 0.2546313879135026|0.02282720747734097|
|   100002|   NC|26.787850720043643|-117.66591213159654|Composite|       35|1780.6405857581656|    5|             3|                       8|                     6|        68505| 35.34814419059544|15.476548208708515|         1574.8917623852321|                2018|3648371.4340184284|              29|0.19850189715306735|0.09965088106406796|
|   100003|   IL| 34.49007402259842| -97.14779724216643|   Timber|       60| 1486.483660850507|    4|             4|                       3|                     7|        10563|29.665317013321882|  35.4705286591104|          889.2681227526666|                2014|1828414.1550813331|             301|0.20530185950996796|0.08214434955742086|
|   100004|   MI| 37.23955339580385|-119.61827560513758|  Masonry|       90| 114.7122266789525|    4|             8|                       5|                     5|       157293|  33.0265660230711|31.029237461413082|         1406.9573559146577|                2020|1867925.1355395797|              85|0.09557388847489473|0.05375188127712642|
+---------+-----+------------------+-------------------+---------+---------+------------------+-----+--------------+------------------------+----------------------+-------------+------------------+------------------+---------------------------+--------------------+------------------+----------------+-------------------+-------------------+
only showing top 5 rows

#### Step 2: Cleaning the Repair Cost Coloumn

In [0]:
from pyspark.sql.functions import regexp_replace, col

df_clean = df.withColumn("Repair_Cost_USD_clean", regexp_replace("Repair_Cost_USD", "[$,]", "").cast("double"))
df_clean.createOrReplaceTempView("bridges")

#### Step 3: Hadoop-style Spark SQL Queries (Simulating Hive on HDFS)

#### Query 1: Count of Total Bridges

In [0]:
spark.sql("SELECT COUNT(*) AS total_bridges FROM bridges").show()

+-------------+
|total_bridges|
+-------------+
|         5000|
+-------------+

#### Query 2: Average Deck condition by State

In [0]:
spark.sql("""
SELECT State, ROUND(AVG(Deck_Condition), 2) AS avg_condition
FROM bridges
GROUP BY State
ORDER BY avg_condition ASC
""").show()

+-----+-------------+
|State|avg_condition|
+-----+-------------+
|   IL|         5.41|
|   PA|         5.43|
|   FL|         5.46|
|   TX|         5.47|
|   MI|          5.5|
|   CA|         5.52|
|   NC|         5.54|
|   GA|         5.59|
|   NY|         5.61|
|   OH|         5.65|
+-----+-------------+

#### Query 3: Top 5 Bridges with highest Repair Cost

In [0]:
spark.sql("""
SELECT Bridge_ID, State, Repair_Cost_USD_clean
FROM bridges
ORDER BY Repair_Cost_USD_clean DESC
LIMIT 5
""").show()

+---------+-----+---------------------+
|Bridge_ID|State|Repair_Cost_USD_clean|
+---------+-----+---------------------+
|   101420|   CA|    4995193.941049254|
|   104400|   OH|    4994320.511339711|
|   102158|   FL|     4993752.42208293|
|   104609|   NC|    4993634.032032534|
|   100160|   FL|   4992727.6564623555|
+---------+-----+---------------------+

#### Query 4: Number of Bridges by Material

In [0]:
spark.sql("""
SELECT Material, COUNT(*) AS count
FROM bridges
GROUP BY Material
ORDER BY count DESC
""").show()

+---------+-----+
| Material|count|
+---------+-----+
|   Timber| 1034|
|    Steel| 1029|
| Concrete|  990|
|  Masonry|  981|
|Composite|  966|
+---------+-----+

#### Query 5: Average Deterioration rate by Material

In [0]:
spark.sql("""
SELECT Material, ROUND(AVG(Deterioration_Rate), 2) AS avg_deterioration
FROM bridges
GROUP BY Material
ORDER BY avg_deterioration DESC
""").show()

+---------+-----------------+
| Material|avg_deterioration|
+---------+-----------------+
|  Masonry|             0.16|
|    Steel|             0.15|
| Concrete|             0.15|
|Composite|             0.15|
|   Timber|             0.15|
+---------+-----------------+